.avatar-wrapper {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
    opacity: 0.6;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f003";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    font-size: 100px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .fa-camera {
    position: absolute;
    font-size: 40px;
    top: 50px;
    left: 30px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}

.avatar-wrapper .upload-button:hover .fa-camera {
    opacity: 1;
}
