button,
a {
    outline: none;
}

.hr-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}

.hr-fancy {
    display: block;
    height: 8px;
    background: url(../img/hr.png) repeat-x;
    margin: 15px 0;
    border: 0;
}

path {
    /* Inherit color from svg parent */
    fill: currentColor;
}

.center {
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.custom-select {
    box-shadow: none;
}

.select2-container--bootstrap4 .select2-selection--multiple {
    padding: 2px;
}

.event > p {
    margin: 0 !important;
}

.card-footer > nav > ul {
    margin-bottom: 0;
}

/* Remove select outline */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: transparent;
}

/* The contenet background */
.content-wrapper {
    background: #f9f9f9;
}

/* .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e2e8ee;
    border-radius: 0px;
    box-shadow: none;
} */

.card-header,
.card-footer {
    display: flex;
    background-color: #fafafa;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.maintenance-image {
    width: 240px;
    margin: 0 auto 50px;
}

.card-header .pagination {
    margin: 0;
    padding: 0;
}

.form-group .required::after {
    content: " *";
    color: red;
}
